---
title: Recipes
image_view: true
---
<h1>Recipes</h1>



{% if page.image_view %}
	{% for category in site.categories %}
		<h2>{{ category[0] }}</h2>
		<div class="recipes">
			{% for recipe in category[1] %}
				{% if recipe.featured_image %}
					<div class="recipe with-photo" style="background-image: url('{{ recipe.featured_image }}')">
						<a href="{{ recipe.url }}"><span>{{ recipe.title }}</span></a>
					</div>
				{% else %}
					<div class="recipe no-photo">
						<a href="{{ recipe.url }}"><span>{{ recipe.title }}</span></a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endfor %}
{% endif %}